@font-face {
    font-family: popRegular;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: pop-bold;
    src: url(fonts/Poppins-bold.ttf);
}
@font-face {
    font-family: pop-Medium;
    src: url(fonts/Poppins-Medium.ttf);
}