:root{
    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-Dark-Violet: hsl(260, 8%, 14%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
button{
    cursor: pointer;

    &:hover{
        box-shadow: inset 0 0 200px 200px rgba(255, 255, 255, 0.371) !important;
    }
}
.container{
    width: 1300px;
    max-width: 100%;
    margin: auto;
}
.me.hidden{
    visibility: hidden !important;
}
.me{
    width: 100%;
    background-color: var(--Dark-Violet);
    text-align: center;
    color: black;
    padding: 10px;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    visibility: visible;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
    a{
        margin: 0 10px 0 10px;
        color: white;
        position: relative;
        &:hover{
            &::after{
                transform: scale(1);
            }
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 1.3px;
            background-color: white;
            transform-origin: left;
            transform: scaleX(0);
            transition: .2s ease-in-out;
         }
    }
    .bi{
        // position: absolute;
        // right: 30px;
        font-size: 1.3rem;
        top: 50%;
        // transform: translateY(-50%);
        cursor: pointer;
        color:white;
    }
}
nav{
    width: 100%;
    display: flex;
    height: 80px;
    padding: 30px;
    .container{
        display: flex;
        flex-direction: row;
      .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .navbar{
            display: flex;
            column-gap: 30px;
            align-items: center;
            margin-left: 40px;
            a{
                font-weight: 700;
                color:var(--Grayish-Violet);
                cursor: pointer;
                &:hover{
                    color: var(--Very-Dark-Blue);
                }
            }
        }

        .btns{
            :first-child{
                color: var(--Grayish-Violet);
                background:none;
                border: none;
                margin-right: 35px;
            }
            button{
                font-weight: 700;
                font-weight: 1.2rem;
            }
            .sign-up{
                color: white;
                padding: .6rem 1.3rem;
                background-color: var(--Cyan);
                border-radius: 23px;
                border: none;
            }
            .login{
                &:hover{
                    color: var(--Very-Dark-Blue);
                }
            }
        }
        .hamburger{
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            display: none;
            position: absolute;
            right: 30px;
            cursor: pointer;
           span{
            width: 23px;
            height: 1.8px;
            background-color: var(--Grayish-Violet);
           }
        }
      }
    }
}

.intro{
    margin-top: 65px;
    width: 100%;
    padding: 0 30px;
    .container{
        .row{
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .textBox{
                h1{
                    font-size: 4.3rem;
                    font-weight: 700;
                    color: var(--Very-Dark-Blue);
                    line-height: 80px;
                }
                p{
                    color: var(--Grayish-Violet);
                    width: 50%;
                }
                button{
                    margin-top: 30px;
                    font-weight: 500;
                    color: white;
                    padding: .68rem 1.7rem;
                    background-color: var(--Cyan);
                    border-radius: 23px;
                    border: none;
                    font-size: 1.1rem;
                }
            }
            
            .imgDiv{
                width: 60%;
                max-width: 100%;
                display: flex;
                justify-content: flex-end;
                img{
                    width: 600px;
                    max-width: 100%;
                }
            }
        }
    }
}

main{
    background-color:hsla(213, 33%, 94%, 0.8);
.url-input{
    position: relative;
    top: 90px;
    margin-top: 85px;
    width: 100%;
    padding: 0 30px;
    .container{
        position: relative;
        bottom: 65px;
        background-image: url(url-shortening-api-master/images/bg-shorten-desktop.svg);
        background-color: var(--Dark-Violet);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:right;
        border-radius: 8px;
        .wrapper{
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            padding: 2.5rem 0;
            align-items: center;
            .top{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                .link-input{
                    width: 85%;
                    height: 55px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    padding: 0 2rem;
    
                  &::placeholder{
                    color: var(--Gray);
                  }
                  &:invalid{
                    &::placeholder{
                        color: var(--red !important);
                      }
                  }
                }
                .button{
                    margin-left: 20px;
                    border: none;
                    outline: none;
                    background:var(--Cyan);
                    border-radius: 8px;
                    height: 50px;
                    padding: 0 1.9rem;
                    color: white;
                    font-weight: 500;
                    font-size: 1.03rem;
                    cursor: pointer;
                }
            }
            span{
                font-size: .8rem;
                font-style: italic;
                color: var(--Red);
                display: none;
                margin-bottom: 5px;
            }
           
        }
    }
}


    .short-links{
        margin-top: 55px;
        .container{
            width: 1300px;
            max-width: 100%;
            margin: auto;
            .row{
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                row-gap: 20px;
                .link{
                    z-index: 999;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    height: 65px;
                    background-color: rgb(255, 255, 255) !important;
                    align-items: center;
                    padding: 0 30px;
                    border-radius: 6px;
                    font-weight: 500;
                    .original-link{
                        color: black;
                    }
                    .shorted{
                        color: var(--Cyan);
                        margin-right: 20px;
                    }
                    button{
                        background-color: var(--Cyan);
                        border: none;
                        padding: .5rem 1.7rem;
                        color: white;
                        font-size: .9rem;
                        border-radius: 7px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    


    .statistics{
        width: 100%;
        margin-top: 40px;
        padding-bottom: 13rem;
        .container{
            .row{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 80px;
                .header{
                    margin-top: 30px;
                    text-align: center;
                    font-weight: 500;
                    h1{
                        font-size: 1.9rem;
                        color: var(--Very-Dark-Blue);
                        font-weight: 700;
                    }
                    p{
                        margin-top: 10px;
                        color: var(--Grayish-Violet);
                        line-height: 28px;
                        width: 300px;
                    }
                }
                .cards{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 60px;
                    position: relative;
                    .blueLine{
                        position: absolute;
                        width: 70%;
                        height: 7px;
                        background-color: var(--Cyan);
                        left: 50%;
                        top: 60%;
                        transform:translateX(-50%)
                    }

                    .card{
                        background-color: white;
                        padding: .4rem 1.3rem;
                        width: 290px;
                        border-radius: 6px;
                        position: relative;
                        .logo{
                            position: relative;
                            bottom: 30px;
                            img{
                                background-color: var(--Dark-Violet);
                                padding: 1rem;
                                border-radius: 50%;
                            }
                        }
                       .card-body{
                        position: relative;
                        bottom: 10px;
                        span{
                            font-weight: 700;
                            color: var(--Very-Dark-Blue);
                        }
                        p{
                            margin-top: 15px;
                            font-weight: 500;
                            color: var(--Grayish-Violet);
                            font-size: .8rem;
                        }
                       }
                    }
                    .card-2{
                        top: 40px;
                    }
                    .card-3{
                        top: 80px;
                    }
                }
            }
        }
    }
}

.boost{
    width: 100%;
    background-color: var(--Dark-Violet);
    background-image: url(url-shortening-api-master/images/bg-boost-desktop.svg);
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    .container{
        .row{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 30px;
            text-align: center;
            h1{
                color: white;
                font-weight: 700;
                font-size: 2rem;
            }
            button{
                font-weight: 500;
                color: white;
                padding: .55rem 1.6rem;
                background-color: var(--Cyan);
                border-radius: 23px;
                border: none;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}

footer{
    background-color: var(--Very-Dark-Violet);
    padding: 4rem 0;
    padding-bottom: 5rem;
    .container{
        .row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .foot-cols{
                display: flex;
                flex-direction: row;
                color: white;
                column-gap: 80px;
                .col{
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    font-size: .8rem;
                    .header{
                        color: white;
                        font-weight: 700;
                    }
                    
                    .descs{
                        color: var(--Gray);
                        line-height: 30px;
                        
                        li:hover{
                            color: var(--Cyan);
                            cursor: pointer;
                        }
                    }
                }
                .socialsDiv{
                    .socials{
                        img{
                            margin-right: 15px;
                            width: 18px;
                            &:hover{color: cyan;}
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.mobile-nav{
    position: absolute;
    left: -200%;
    top: 10%;
    width: 80%;
    height: 280px;
    background-color: var(--Dark-Violet);
    border-radius: 10px;
    padding: 1.8rem 1rem;
    visibility:hidden;
    transition: .3s;
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
       .navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .navbar-li{
            color: white;
        }
        .lineDiv{
            width: 95%;
            margin: auto;
            height: 1px;
            background-color: var(--Grayish-Violet);
        }
       }
       .btns{
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 100%;
        :first-child{
            color: var(--Grayish-Violet);
            background:none;
            border: none;
            margin-right: 35px;
        }
        button{
            font-weight: 700;
            font-weight: 1.2rem;
        }
        .login{
            margin: 0;
        }
        .sign-up{
            color: white;
            width: 100%;
            padding: .6rem 1.3rem;
            background-color: var(--Cyan);
            border-radius: 23px;
            border: none;
        }
    }
    }
}


.active{
    left: 50% !important;
    transform: translateX(-50%) !important;
    visibility:visible !important;
}
@media only screen and (max-width:1012px) {

    nav{
        .container{
            .row{
                flex-direction: column;
                .navbar{
                   display: none !important;
                }
                .btns{
                    display: none !important;
                }
                .hamburger{
                    display: flex !important;
                }
            }
        }
    }
    .intro{
        .container{
            .row{
                flex-direction: column-reverse;
                align-items: center !important;
                row-gap: 35px;
                .textBox{
                    text-align: center !important;

                    p{
                        margin: auto;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .url-input{
        .container{
           .wrapper{
            .top{
                flex-direction: column !important;
                row-gap: 8px;
                justify-self: center;
                align-items: center;

                .button{
                    margin-left: 0 !important;
                }
            }
           }
        }
      }

      .statistics{
        .container{
            .row{
                .cards{
                    flex-direction: column !important;
                    align-items: center;

                    .blueLine{
                        transform: rotate(90deg) !important;
                        left: 15% !important;
                    }

                    .card{
                        text-align: center;
                    }
                }
            }
        }
      }

      footer{
        .container{
            .row{
                flex-direction: column !important;
                align-items: center !important;
                text-align: center;
                .foot-cols{
                    flex-direction: column !important;
                    justify-content: center !important;
                    align-items: center !important;
                    row-gap: 30px;
                    
                    .col-1{
                        margin-top: 30px;
                    }

                    .socialsDiv{
                        .socials{
                            display: flex;
                            column-gap: 16px;
                            img{
                                margin: auto;
                                width: 23px;
                            }
                        }
                    }
                }
            }
        }
      }
}
